.workbar{
	-fx-min-height: 20px;
	-fx-min-width:200px;
	-fx-background-color: pink;
}

.workbarentry{
	-fx-min-height: 20px;
	-fx-border-color:black;
	-fx-border-width: 0px 1px 0px 0px;
	-fx-border-style: solid;
}